/* Header */
header {
    background: url(images/567.jpg) 0 -20px no-repeat;
    height: 600px; 
    background-size: 1800px;
    /*background-position: 0 -200px; this is combined with line 11*/  
    /*background-repeat: no-repeat; this is combined in line 11*/
    padding-top: 100px; 
    padding-left: 100px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 80px;
}

/* Navigation */
li {
    list-style-type: none;
    display: inline; /* arrange navi horizontally */
    padding: 0 20px; /* 0px on top and bottom, 20px on left and right */
}
a {
    text-decoration: none; /* get rid of underline */
    font-size: 30px;
}
/* add user interaction style */
a:link {
    color: black;
}
a:visited {
    color:#818db3;
}
a:hover {
    color: #333
}
a:active {
    background: #9ed034;
    border-radius: 100%;
    color: white;
}
nav{
    background-color: rgba(250, 238, 255, 0.95);
    min-height: 70px;
    height:70px;
    text-align: center;
    padding-top: 3px;
    width: 1800px;
}

/* Main Content */
main {
    padding: 50px; /* top, right, bottom, left    or   use margin*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    background-color: rgb(255,245,238,0.95);
    width: 1700px;
}
main h1 { /* this selecter ONLY applys to <h1> within <main> */
    color: rgb(129,141,179);
}

/* Cats OL */
ol {
    display: flex;
    background-color: rgb(255,245,238,0.95); 
    width: 1710px;
    text-align: center;
}
ol li span{
    display: inline-block;
    margin: 2em 3em;
    padding: .3em .3em;
    background-color: rgba(224, 20, 20, 0.225);
}
ol li{
    color: rgb(129,141,179);
    font-size: larger;
    font-weight: bold;
}

/* Contact Table */


/* Footer */
footer {
    height: 40px;
    width: 1800px;
    background-color: rgba(250, 238, 255, 0.95);
    text-align: center;
    padding-top: 20px;
    color: #818db3;
    font-size: large;
}